.App {
  /* text-align: center; */
  padding: 1em 2em;
  width: 100%;
  min-height: 100vh;
}

.TileContainer {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.Tile {
  width: 8em;
  height: 8em;
  border-style: solid;
  border-width: 1px;
  border-color: lightslategrey;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  gap: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

.Pair {
  font-size: 1em;
}

.Tile div {
  font-size: 0.9em;
}

.Header {
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  padding: 2em;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  border: 0.5px solid lightgray;
  margin: 0.5em 0;
  border-radius: 0.5em;
}

.Controls {
  display: flex;
  gap: 0.5em;
  min-width: 180px;
}

@media only screen and (max-width: 1000px) {
  .Controls {
    flex-direction: column;
  }

  .Info {
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .Controls {
    flex-direction: column;
    align-items: center;
  }

  .Info {
    flex-direction: column;
  }

  .Info div {
    font-size: 1em;
  }

  .Header {
    flex-direction: column;
    padding: 0.5em;
    border: none;
  }

  .Tile {
    width: 80px;
    height: 80px;
    padding: 0.3em;
  }

  .Tile div {
    font-size: 0.5em;
  }

  .Pair {
    font-size: 0.7em;
  }

  .App {
    padding: 1em 0.2em;
  }

  .Title {
    text-align: center;
  }
}

.Control {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(45, 45, 45, 0.1);
  border-radius: 0.5em;
  padding: 0.2em 1.5em;
  transition: all 200ms ease-in-out;
}

.Control:hover {
  background-color: rgb(229, 229, 229);
}

.Info {
  display: flex;
  align-items: center;
  gap: 2em;
}

.Info div {
  font-size: 1.5em;
}

.Count {
  min-width: 150px;
}

.Selection {
  min-width: 250px;
}

div em {
  text-decoration: underline;
}

.Title {
  /* text-align: left; */
}

.Empty {
  margin-top: 2em;
  font-size: 2em;
}

@keyframes pop {
  from {
    transform: scale(1.3);
  }

  to {
    transform: scale(1.0);
  }
}

.tile-enter-active {
  animation: pop 300ms ease-in-out;
}

.tile-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
